@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3F83F8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Freeman", sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.3rem;
}

.header_content {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
}

.logo_icon {
    height: 5.767rem;
    width: 4.9rem;
}

.logo_text {
    font-size: 3.9rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 4rem;

}

.nav_link {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav_link:hover {
    color: var(--link-color)
}

.contact {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;

}

.contact:hover {
    background-color: #5254f8;
}

.main-section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left {
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.section-level {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--link-color);
}

.section-title {
    font-size: 2.5rem;
    color: var(--text-color);
    padding: 1rem;
}

.section-description {
    color: var(--dark-gray);
    font-size: 1.25rem;
}

.start-button,
.tour-button {
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.button-group {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.tour-button {
    background-color: var(--dark-gray);
}

.start-button:hover {
    background-color: #5254f8;
}

.tour-button:hover {
    background-color: var(--dark-gray);
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    border: none;
    border-radius: 1.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 57vh;

}

.section-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width:768px) {
    .main-section {
        flex-direction: row;
    }

    .content-left {
        max-width: 50%;
        text-align: left;
    }

    .section-title {
        padding-left: 0;

    }

    .button-group {
        justify-content: start;
        padding-left: 0;
    }

    .section-title {
        font-size: 4rem;
    }

    .image-container {
        height: 70vh;
    }

}

.company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    animation: slideFromLeft 1s ease forwards;

}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 1rem 2rem;
}

.company-logo {
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-gray);
    display: flex;
    gap: 0.5rem;
}

.svg-img {
    height: 2rem;

}

.logo-text {
    font-size: 1rem;

}

@media screen and (min-width:640px) {
    .company-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.company-title {
    font-size: 2.7rem;
    font-weight: bold;
}

.feature-container {
    background-color: var(--light-gray);
    padding: 2rem 0;
    text-align: center;
}

.feature-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-title {
    font-size: 2.4rem;
    font-weight: bold;

}

.main-description {
    font-size: 1.2rem;
    color: var(--background-color);
}

.main-info {
    display: flex;
    flex-direction: column;
}

.feature-grid {
    display: grid;
   gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.3rem;
    row-gap: 1rem;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3 rem;
    border-radius: 300rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{

    width: 1.5rem;
    height: 1.5rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1144b4;
    padding: 2rem;
    border-radius: 1rem;
}
.feature-title{
    color:black;
  
}
.feature-description{
    color: #ffffff;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color:#fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    font-weight: bold;
    font-size: 1.3rem;
}
@media screen and(max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
        margin:0.1rem;

    }
    
}
.testimonial-container{
    background-color: var(--background-color);
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;

}
.testimonial-grid{
    display: flex;
    grid-template-columns: repeat(autofill,minmax(300px,1fr));
    gap: 2rem;

}
.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,1);
    padding: 1rem;
    gap: 1.6rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    
}
.testimonial-card:hover{
    transform:scale(1.05);;
    box-shadow: 0 4px 8px rgba(0,0,0,0,2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    height: 7rem;
    width: 7rem ;

}
.testimonia-text{
    font-size: 1rem;
    color: var(--dark-gray);
}
.testimonial-name{
    color: #2563eb;
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
  

}
.footer{
    max-width: 1280px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2REM;

}
.footer-top{
 width: 50%;
 display: flex;
 flex-direction: column;
 gap: 1.4rem;

}
.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.8rem;
}
.logo-svg{
    width: 4rem;
    height: 5rem;

}
.social-icon{
width: 2.5rem;
height: 2.5rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.filler-text{
    font-size: 1rem;
    color: var(--dark-gray);
    padding-top: 0.7rem;
   
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 9rem;
    width: 60%;
    padding: 2rem;
    padding-top: 1.9rem;
}
.footer-grid-heading{
    font-size: 1.1rem;
    font-weight: bold;
    color:var(--text-color);
    margin-bottom: 1.6rem;
}
ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 1rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem ;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-copyright{
    color: gray;
    font-size: 0.9rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    padding-top: 1REM;
    border-top: 2px solid #5254f8;
}
@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding: 5rem;
    }
    
}
.newsletter-container{
    background-color: var(--background-color);
    /* padding: 2rem; */
    max-width: 1280px;
    padding-top: 3rem;
     
    margin: 0 auto;
}
.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 9px;
    overflow: hidden;

}
.news-left{
    height: 100%;
   
}
.news-left video{
    width: 400%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    border-radius: 9px;
    
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.9rem;
    justify-content: center;
}
.news-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--link-color);

}
.news-info{
    padding: 0 3rem;
}
.news-desc{
    text-align: left;
}
.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 1rem;
}
.news-email{
    background-color: var(--background-color);
    width: 100%;
    color: #333;
    border: 1PX SOLID #ccc;
    border-radius: 4PX;
    padding: 0.5REM 0.75REM;
}
.news-email:focus{
    border-color: #1d55c5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    width: 30%;
    height: 40%;
    padding: 0.5rem 1rem;
}
.news-send-button:hover{
background-color: var(--link-color);
}
.privacy-policy{
   
    padding: 0 3rem;
    color: #fcf8f8;
}
.news-link{
    text-decoration: underline;
    color: #070bf2;

}
.contest-container{
    padding-top: 3rem;
}